body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url("../img/mcgregor.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

h2 {
    color: #333;
}

.input-box {
    position: relative;
    margin-bottom: 20px;
}

i.fa {
    position: absolute;
    top: 50%;
    left: 8px;
    transform: translateY(-50%);
    color: #777;
}

input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    padding-left: 30px;
}

input[type="submit"] {
    background-color: black;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

input[type="submit"]:hover {
    background-color: red;
}

a {
    color: #3498db;
    text-decoration: none;
    font-size: 14px;
    margin-top: 10px;
}

a:hover {
    text-decoration: underline;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

h1 {
    color: #333;
}

.container a {
    display: block;
    margin-top: 10px;
    color: #3498db;
    text-decoration: none;
    font-size: 14px;
}

.container a:hover {
    text-decoration: underline;
}

